PORT=xxxx

# MYSQL
DB_HOST=xxxx
DB_USERNAME=xxxx
DB_PASSWORD=xxxx
DB_NAME=xxxx

# CCLOUD STORAGE
CS_PROJECT_ID=xxxx
CS_BUCKET_NAME=xxxx

# FIREBASE
FIREBASE_DB_URL=xxxx
FIREBASE_API_KEY=xxxx
FIREBASE_AUTH_DOMAIN=xxxx
FIREBASE_PROJECT_ID=xxxx